 
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nameformatter">

    <!-- Required to support all the necessary components of the app -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Name Formatter"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- MainActivity is the entry point for the application -->
        <activity android:name=".MainActivity"
            android:label="Name Formatter"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- This is the main activity that starts when the app is launched -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
